{% extends "graphlayout.html" %}

{% block content %}
<h1>Here is your Generated Box Plot<br></h1>
<p>A box plot (or box-and-whisker plot) is a graphical representation of data distribution using quartiles.<br><br></p>

<h2>What is a Box Plot?<br></h2>
<p>A <strong>Box Plot</strong> summarizes the distribution of a continuous variable.<br>It shows the minimum, first quartile, median, third quartile, and maximum of the data.<br><br></p>

<h2>How to Read a Box Plot?<br></h2>
<p>In a box plot, the box represents the interquartile range (IQR) which contains the middle 50% of the data.<br>The whiskers extend from the box to show the range of the data excluding outliers.<br><br></p>

<h3>Generate Box Plot</h3>
<p>Select a column to generate a box plot based on its values.<br><br></p>


<form action="/boxplot" method="POST">
    <label for="x_column">Select Variable :</label>
    <select name="x_column" id="x_column">
        {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>
    <p><br></p>

    <button type="submit">Generate Box Plot</button>
</form>
{% endblock %}

{% block image %}
{% if graph_url %}
    <img src="{{ graph_url }}" alt="Box Plot" style="width: 100%; height: auto; border-radius: 10px;">
{% endif %}
{% endblock %}
